<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>    

</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button @click="handleBtnClick">提交</button>
        <ul>
            <!-- <li v-for="(item,index) of list":key="index">{{item}}</li> -->
            <todo-item v-bind:content="item" v-for="(item,index) of list":key="index"></todo-item>
        </ul>
    </div>
    <script>
        //子组件
        Vue.component("TodoItem",{
            props:['content'],
            template:"<li>{{content}}</li>"
        })
       var app = new Vue({
           el:"#app",
            data:{
                list:["diyike","dierke"],
                inputValue:""
            },
            methods:{
                handleBtnClick:function(){
                    this.list.push(this.inputValue);
                    this.inputValue = ""
                }
            }
       })
    </script>
</body>
</html>