html{
    min-width: 1200px;
}
.logo{
    letter-spacing: 5px;
    padding-top: 60px;
     min-width : 100%;
}
.searchPlace{
    min-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.placetable{
    min-width: 1200px;
    max-width: 1500px;
    min-height: 400px;
    margin: auto;
}
#table{
    width: 100%;
    margin:auto;
}
 th{
    height: 80px;
    width: 25%;
    border: 1px solid black;
}
 td{
    height: 50px;
    width: 25%;
    border: 1px solid black;
}
.change{
    width: 100%;
    text-align: right;
    
}
h1 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
  }